body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

:root {
  --bg-color: white;
  --text-color: black;
}

.dark-mode {
  --bg-color: #333;
  --text-color: white;
}
